{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h5 class="fw-bold">
        ARAB INDUSTRIES INC.
    </h5>
    <p>
        Arab industries, action responses action beyond industries,  from words of innovations we are founded on patent granted process for carbon capture machinery which the ultimate turning point of business of manufacturing and connecting multiple tech including job tech, clean tech, 
fin-tech and e-commerce with multi- vendor application ,we build custom engineering solutions with passion to solve problems
    </p>
    <div class="mt-5">
        <p>Address:</p>
        <p>ARAB INDUSTRIES PRIVATE LIMITED</p>
        <P>UL Cyberpark, Kozhikode</P>
        <P>Kerala, India</P>
    </div>
</div>



{% endblock content %}