{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container col-sm-8 my-3">
    <h5 class="fw-bold">CAD Design</h5>
    <img src="{% static 'images/cad-design-detail.png' %}" class="img-fluid" alt="...">
    <p class="my-3">
        As we are striving through the world of designing, the importance of computer-aided designing in the field of mechanical engineering seems to be inevitable. Cad in mechanical designing brought revolutionary changes through these years in every field that involves precision designing and manufacturing. We have finest and top notch experienced designers in cad softwares and we deliver the perfect solution for your  business problems and every design requirements.    
    </p>
    <div class="d-flex justify-content-end">
        <a href="mailto:contact@arabindustries.tech" class="btn btn-sm px-3 fw-bold" style="background-color:#B89E8D">Connect with us</a>
    </div>
</div>
{% endblock content %}