{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container ps-3 pt-sm-5 col-sm-11">
  <h1 class="fw-bold fs-4">Your Solution in Machinery and Internet</h1>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
    sit amet. et clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.</p>

  <div class="pt-5">
    <div class="d-flex justify-content-between">
      <h2>Products</h2>
      <a href="{% url 'products' %}" class="fw-bold text-decoration-none" style="color:#B89E8D"> More Products > </a>
    </div>
    <div class="card p-3 rounded" style="background-color: #1A1A1A;">
      <div class="row g-0">
        <div class="col-md-3">
          <img src=" {% static 'images/cce-1.png'%} " class="img-fluid rounded-start" width="200rem" alt="Product Image">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">Product Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
              sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
              At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <div class="d-flex justify-content-end">
              <a href="{% url 'cce' %}" class="d-flex justify-self-end btn btn-dark px-3"
                style="background-color:#B89E8D;">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-5">
      <h2>Services</h2>
      <a href="{% url 'services' %}" class="fw-bold text-decoration-none" style="color:#B89E8D"> More Services > </a>
    </div>
    <div class="row d-flex pb-3 gap-5">
      <a class="card text-bg-dark col-sm p-0 m-0" href="{% url 'cad' %}">
        <img src="{% static 'images/cad-design.png'%}" class="card-img" alt="...">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h5 class="card-title p-3">CAD DESIGN</h5>
        </div>
      </a>
      <a class="card text-bg-dark col-sm p-0 m-0" href="#">
        <img src="{% static 'images/ui-ux.png' %}" class="card-img" alt="...">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h5 class="card-title p-3">UI UX DESIGN</h5>
        </div>
      </a>
      <a class="card text-bg-dark col-sm p-0 m-0" href="{% url 'graphic-design' %}">
        <img src="{% static 'images/graphic-design.png'%}" class="card-img" alt="...">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h5 class="card-title p-3">GRAPHIC DESIGN</h5>
        </div>
      </a>
      <a class="card text-bg-dark col-sm p-0 m-0" href="{% url 'cce' %}">
        <img src="{% static 'images/product-development.png'%}" class="card-img" alt="...">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <h5 class="card-title p-3">PRODUCT DEVELOPMENT</h5>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock content %}