{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container col-sm-8 my-3">
    <h5 class="fw-bold">Product Development</h5>
    <img src="{% static 'images/product-development-detail.png' %}" class="img-fluid" alt="...">
    <p class="my-3">
        We provide machinery product development and research as per the customer
        requirment  
    </p>
    <div class="d-flex justify-content-end">
        <a href="mailto:contact@arabindustries.tech" class="btn btn-sm px-3 fw-bold" style="background-color:#B89E8D">Connect with us</a>
    </div>
</div>
{% endblock content %}