{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container p-5">
    <div class="fs-5 fw-bold mb-5">ALL SERVICES</div>
    <div class="col-sm-10">
    <div class="row d-flex pb-3 gap-5">
        <a class="card text-bg-dark col-sm p-0 m-0" href="{% url 'cad' %}">
          <img src="{% static 'images/cad-design.png'%}" class="card-img" alt="...">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h5 class="card-title p-3">CAD DESIGN</h5>
          </div>
        </a>
        <a class="card text-bg-dark col-sm p-0 m-0" href="{% url 'uiux' %}">
          <img src="{% static 'images/ui-ux.png'%}" class="card-img" alt="...">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h5 class="card-title p-3">UI UX DESIGN</h5>
          </div>
        </a>
        <a class="card text-bg-dark col-sm p-0 m-0" href="{% url 'graphic-design' %}">
          <img src="{% static 'images/graphic-design.png'%}" class="card-img bg-gradient" alt="...">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h5 class="card-title p-3">GRAPHIC DESIGN</h5>
          </div>
        </a>
        <a class="card text-bg-dark col-sm p-0 m-0" href="{% url 'product' %}">
          <img src="{% static 'images/product-development.png'%}" class="card-img bg-gradient" alt="...">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h5 class="card-title p-3">PRODUCT DEVELOPMENT</h5>
          </div>
        </a>
      </div>
    </div>
    </div>


{% endblock content %}