{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container col-sm-8 my-3">
    <h5 class="fw-bold">UI UX Design</h5>
    <img src="{% static 'images/ui-ux-detail.png' %}" class="img-fluid" alt="...">
    <p class="my-3">
        Our team leverages market research, internal data, and extensive user experience (UX)
        testing to design a UI that exceeds your users’ needs and expectations—with helpful
        features and content, beautiful page layouts, and intuitive navigation.
    </p>
    <div class="d-flex justify-content-end">
        <a href="mailto:contact@arabindustries.tech" class="btn btn-sm px-3 fw-bold" style="background-color:#B89E8D">Connect with us</a>
    </div>
</div>
{% endblock content %}